<%- include('layouts/header1') %>
<!-- end header -->
<section class="about-us section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="main-title">Our history</h2>
        <h3 class="sub-title">The team regularly plays Fifa, enjoys music, interests in photography and offers its clients the best profitable projects for them .</h3>
      </div>
      <!-- end col-8 -->
      <div class="col-md-10 col-md-offset-1 text-justify">
        <div class="intro-icon"> <img src="images/4.svg" alt="Image"> </div>
        <p class="intro-text"> Through workshops you'll have the opportunity to see how small campaigns with limited budgets can generate incredible results and learn how to attract new customers using valuable insights on your brand opportunity to see how small campaigns with . </p>
        <div class="col-sm-4 no-padding">
          <div class="talents">
            <h2>Strategy</h2>
            <i class="outline-light-bulb"></i>
            <ul>
              <li>UX strategy</li>
              <li>Concept development</li>
              <li>Content strategy</li>
              <li>Online advertising strategy</li>
              <li>User testing & research</li>
            </ul>
          </div>
        </div>
        <!-- end col-4 -->
        <div class="col-sm-4 no-padding">
          <div class="talents">
            <h2>Creation</h2>
            <i class="outline-paint-roller"></i>
            <ul>
              <li>UX strategy</li>
              <li>Concept development</li>
              <li>Content strategy</li>
              <li>Online advertising strategy</li>
              <li>User testing & research</li>
            </ul>
          </div>
        </div>
        <!-- end col-4 -->
        <div class="col-sm-4 no-padding">
          <div class="talents">
            <h2>Solution</h2>
            <i class="outline-file-code"></i>
            <ul>
              <li>UX strategy</li>
              <li>Concept development</li>
              <li>Content strategy</li>
              <li>Online advertising strategy</li>
              <li>User testing & research</li>
            </ul>
          </div>
        </div>
        <!-- end col-4 --> 
      </div>
      <!-- end col-10 --> 
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-justify">
        <p>In accumsan scelerisque eros, non sollicitudin ante suscipit et. Aliquam vel ante eleifend, porta neque eget, pretium urna. Duis semper purus vitae elit fermentum, eu convallis massa accumsan. Sed sed neque enim. Vestibulum gravida vehicula risus. Integer maximus vitae urna in fringilla. Donec interdum purus in elit viverra, et egestas est vulputate. Duis a tellus non libero faucibus tincidunt. Cras ex elit, convallis in ante vel, interdum bibendum magna.</p>
        <br>
        <p>Nulla pellentesque risus non commodo semper. Aenean sapien ex, mattis nec placerat ac, sollicitudin suscipit nibh. Maecenas pretium ipsum a sem ullamcorper, quis imperdiet dui egestas. Ut gravida sagittis urna dictum tempor. Vivamus lacinia felis massa, eget accumsan massa pretium hendrerit.</p>
        <br>
        <br>
        <div class="col-md-12">
          <h2 class="main-title text-center">Our services</h2>
        </div>
        <!-- end col-12 -->
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <ul class="services-list">
              <li>Digital Strategy</li>
              <li>Creative Consulting</li>
              <li>Information Architecture</li>
              <li>User Experience Design</li>
              <li>User Interface Design</li>
            </ul>
          </div>
          <!-- end col-4 -->
          <div class="col-md-4 col-sm-6">
            <ul class="services-list">
              <li>UX Web Design</li>
              <li>Web Applications</li>
              <li>iPhone & Android Apps</li>
              <li>CMS Systems</li>
              <li>eStore Platfroms</li>
            </ul>
          </div>
          <!-- end col-4 -->
          <div class="col-md-4 col-sm-6">
            <ul class="services-list">
              <li>Search Engine Optimisation</li>
              <li>Social Media Consulting</li>
              <li>Social Integration</li>
              <li>Website Promotion</li>
              <li>Online Advertising</li>
            </ul>
          </div>
          <!-- end col-4 --> 
        </div>
        <!-- end row --> 
      </div>
      <!-- end col-10 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end section -->

<section class="progress-steps section-space text-center overlay">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 space-bottom"> <i class="ion-ios7-lightbulb-outline"></i>
        <h2>Create a concept</h2>
        <p>We are a boutique digital agency, guiding brands to the future through insight, strategy and ideas.</p>
      </div>
      <!-- end col-6 -->
      <div class="col-sm-6 space-bottom"> <i class="ion-ios7-cog-outline"></i>
        <h2>Development idea</h2>
        <p>We are a boutique digital agency, guiding brands to the future through insight, strategy and ideas.</p>
      </div>
      <!-- end col-6 -->
      
      <div class="col-sm-6"> <i class="ion-ios7-copy-outline"></i>
        <h2>Finishing project</h2>
        <p>We are a boutique digital agency, guiding brands to the future through insight, strategy and ideas.</p>
      </div>
      <!-- end col-6 -->
      <div class="col-sm-6"> <i class="ion-ios7-pulse"></i>
        <h2>Celebrate with team</h2>
        <p>We are a boutique digital agency, guiding brands to the future through insight, strategy and ideas.</p>
      </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- section -->
<section class="text-center team section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="main-title">Our team</h2>
        <h3 class="sub-title">We work hard to achieve the right combination of teamwork, focus, and excitement to do our best work in the best environment.</h3>
      </div>
      <div class="col-sm-4">
        <h3>Sr. Creative director</h3>
        <p>John Souza Alves<br>
          <a href="#">john@zero.com</a> </p>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-4">
        <h3>Front-End developer</h3>
        <p>Elisa Albert<br>
          <a href="#">john@zero.com</a> </p>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-4">
        <h3>Back-End developer</h3>
        <p>Pablo Canano<br>
          <a href="#">john@zero.com</a> </p>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-12"> <img src="images/teamm.jpg" alt="Image"> </div>
      <!-- end col-12 -->
    </div>
  </div>
</section>
<%- include('layouts/footer') %>