<%- include('layouts/header1') %>
<!-- end header -->
<section class="clients text-center section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="main-title text-center">Textile</h2>
        <h3 class="sub-title">Offers its clients the best profitable projects for them</h3>
        <ul>
          <li><img src="images/logo1.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Skidun</h3>
                <p>Branding</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo2.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Crealive</h3>
                <p>Facebook Campaign</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo4.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Bamboo</h3>
                <p>e-Commerce</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo4.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Skidun</h3>
                <p>Branding</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo3.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Crealive</h3>
                <p>Facebook Campaign</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/partner_logo.png" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Bamboo</h3>
                <p>e-Commerce</p>
              </div>
            </div>
          </li>
        </ul>
        <h2 class="main-title text-center">Pharmacy</h2>
        <h3 class="sub-title">Offers its clients the best profitable projects for them</h3>
        <ul>
          <li><img src="images/logo1.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Skidun</h3>
                <p>Branding</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo2.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Crealive</h3>
                <p>Facebook Campaign</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo4.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Bamboo</h3>
                <p>e-Commerce</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo4.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Skidun</h3>
                <p>Branding</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo3.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Crealive</h3>
                <p>Facebook Campaign</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/partner_logo.png" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Bamboo</h3>
                <p>e-Commerce</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
        </ul>
        <h2 class="main-title text-center">Jewellery</h2>
        <h3 class="sub-title">Offers its clients the best profitable projects for them</h3>
        <ul>
          <li><img src="images/logo1.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Skidun</h3>
                <p>Branding</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo2.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Crealive</h3>
                <p>Facebook Campaign</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo4.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Bamboo</h3>
                <p>e-Commerce</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo4.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Skidun</h3>
                <p>Branding</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/logo3.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Crealive</h3>
                <p>Facebook Campaign</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
          <li><img src="images/partner_logo.png" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Bamboo</h3>
                <p>e-Commerce</p>
              </div>
              <!-- end desc -->
            </div>
            <!-- end work -->
          </li>
          <!-- end li -->
        </ul>
        <!-- end ul -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->
<%- include('layouts/footer') %>