
<%- include('layouts/header') %>
<!-- end header -->
<section class="icon-features section-space text-center">
  <div class="container wow bounceInUp">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="main-title">Our history</h2>
        <h3 class="sub-title">The team regularly plays Fifa, enjoys music, interests in photography and offers its clients the best profitable projects for them.</h3>
      </div>
      <!-- end col-8 -->
      <div class="col-sm-4"> <img src="images/2.svg" alt="Image">
        <h4>Who we are?</h4>
        <p>We are creating and developing digital marketing and ideas for our customers. Especially focuses on generation of high traffic, and sustaining higher engagement rates. </p>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-4"> <img src="images/1.svg" alt="Image">
        <h4>What we are up to?</h4>
        <p>We are creating and developing digital marketing and ideas for our customers. Especially focuses on generation of high traffic, and sustaining higher engagement rates. </p>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-4"> <img src="images/3.svg" alt="Image">
        <h4>What we have done!</h4>
        <p>We are creating and developing digital marketing and ideas for our customers. Especially focuses on generation of high traffic, and sustaining higher engagement rates. </p>
      </div>
      <!-- end col-4 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end section -->
<section class="content-carousel text-center section-space overlay">
  <div class="container wow bounceInUp">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Our talents are;</h3>
        <ul class="our-talents">
          <li>
            <h2>Mobile</h2>
            <p>Rather than a typical structure, Crealive is an open company, a collective, sharing projects and ideas. We work hard to achieve the right combination of teamwork.</p>
          </li>
          <!-- end li -->
          <li>
            <h2>Web UI</h2>
            <p>Rather than a typical structure, Crealive is an open company, a collective, sharing projects and ideas. We work hard to achieve the right combination of teamwork.</p>
          </li>
          <!-- end li -->
          <li>
            <h2>e-Stores</h2>
            <p>Rather than a typical structure, Crealive is an open company, a collective, sharing projects and ideas. We work hard to achieve the right combination of teamwork.</p>
          </li>
          <!-- end li -->
        </ul>
        <!-- end ul --> 
        <a href="zero.html" class="btn-zero">LEARN MORE</a> </div>
      <!-- end col-8 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end section -->
<section class="recent-works section-space text-center">
  <div class="container wow bounceInUp">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="main-title">Our works</h2>
        <h3 class="sub-title">Enjoys music, interests in photography and offers its clients the best profitable projects for them.</h3>
        <a href="works.html" class="btn-zero">SEE ALL WORKS</a> </div>
      <!-- end col-8 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container -->
  <ul class="grid swipe-rotate" id="grid">
    <li> <a href="images/work1.jpg" class="fancybox" rel="lightbox" title="Enjoys music, interests in photography and offers">
      <figure><img src="images/work1.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="images/work2.jpg" class="fancybox" rel="lightbox" title="Enjoys music, interests in photography and offers">
      <figure><img src="images/work2.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="images/work3.jpg" class="fancybox" rel="lightbox" title="Enjoys music, interests in photography and offers">
      <figure><img src="images/work3.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="images/work4.jpg" class="fancybox" rel="lightbox" title="Enjoys music, interests in photography and offers">
      <figure><img src="images/work4.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="images/work4.jpg" class="fancybox" rel="lightbox" title="Enjoys music, interests in photography and offers">
      <figure><img src="images/work4.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="images/work2.jpg" class="fancybox" rel="lightbox" title="Enjoys music, interests in photography and offers">
      <figure><img src="images/work2.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
  </ul>
  <!-- end ul --> 
</section>
<!-- end section -->
<section class="home-quote no-padding wow bounceInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>PABLO NEVES SOUZA</h2>
        <h5>Chief of executive</h5>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod at. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
        <br>
        <img src="images/signature.png" alt="Image" class="signature"> </div>
      <!-- end col-6 -->
      <div class="col-md-6"> <img src="images/image2.png" alt="Image" class="right-image"> </div>
      <!-- end col-6 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end section -->
<section class="process text-center section-space">
  <div class="container wow bounceInUp">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Our talents are;</h3>
        <h2>Our path</h2>
        <p>Rather than a typical structure, Crealive is an open company, a collective, sharing projects and ideas. We work hard to achieve the right combination of teamwork.</p>
      </div>
      <!-- end col-8 --> 
    </div>
    <div class="circles">
      <div class="row">
        <div class="col-md-4 col-sm-4 text-left">
          <div class="icon-border"> <i class="outline-light-bulb"></i> <span>an Idea</span> </div>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-4 text-center">
          <div class="icon-border"> <i class="outline-paint-roller"></i> <span>Designing</span> </div>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-4 text-right">
          <div class="icon-border"> <i class="outline-file-code"></i> <span>Developing</span> </div>
        </div>
        <!-- end col-4 --> 
      </div>
      <!-- end row --> 
    </div>
    <!-- end circles --> 
  </div>
  <!-- end container --> 
</section>
<!-- end section -->
<section class="team text-center section-space">
  <div class="container wow bounceInUp">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="main-title">Our team</h2>
        <h3 class="sub-title">We work hard to achieve the right combination of teamwork, focus, and excitement to do our best work in the best environment.</h3>
      </div>
      <!-- end col-8 -->
      <div class="col-md-12"> <img src="images/teamm.jpg" alt="Image"> </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end section -->
<section class="awards section-space text-center">
  <video autoplay loop muted class="visible-md visible-lg overlay-video">
    <source src="videos/video2.mp4" type="video/mp4">
  </video>
  <!-- end video -->
  <div class="pattern"></div>
  <!-- end pattern -->
  <div class="container wow bounceInUp">
    <div class="row">
      <div class="col-md-12">
        <h3>Get more + 6 awards</h3>
        <h2>Our Awards</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-sm-3 col-xs-6"> <img src="images/award1.png" alt="Image"> </div>
      <!--end col-3 -->
      <div class="col-sm-3 col-xs-6"> <img src="images/award2.png" alt="Image"> </div>
      <!--end col-3 -->
      <div class="col-sm-3 col-xs-6"> <img src="images/award3.png" alt="Image"> </div>
      <!--end col-3 -->
      <div class="col-sm-3 col-xs-6"> <img src="images/award4.png" alt="Image"> </div>
      <!--end col-3 -->
      <div class="col-sm-12">
        <div class="icon-border"> <i class="outline-trophy"></i>
          <h4>TIMES AWARD</h4>
          <span class="odometer" id="1">00</span> </div>
        <!-- end icon-border --> 
      </div>
      <!--end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end section -->
<section class="logos text-center section-space">
  <div class="container wow bounceInUp">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="main-title">Our clients</h2>
        <h3 class="sub-title">Guiding brands to the future through insight, strategy and ideas for you</h3>
      </div>
      <!-- end col-8 -->
      <div class="col-md-12">
        <ul>
          <li><img src="images/logo1.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Motion TV</h3>
                <p>Branding</p>
              </div>
            </div>
          </li>
          <!-- end li -->
          <li><img src="images/logo2.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>OnWords</h3>
                <p>Facebook Campaign</p>
              </div>
            </div>
          </li>
          <!-- end li -->
          <li><img src="images/logo4.jpg" alt="image">
            <div class="work">
              <div class="desc">
                <h3>Voov</h3>
                <p>e-Commerce</p>
              </div>
            </div>
          </li>
          <!-- end li -->
        </ul>
        <!-- end ul --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end section -->

<%- include('layouts/footer') %>