<%- include('layouts/header1') %>
<!-- end header -->
<section class="latest-news section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="main-title">Latest News</h2>
         <h3 class="sub-title">This is a standard interests in photography post clients the best profitable projects for them</h3>
      </div>
      <!-- end col-8 -->
      <div class="col-md-8 col-md-offset-2">
      	<div class="content-box">
        <ul class="works-detail-carousel">
          <li><img src="images/works-detail1.jpg" alt="Image"></li>
          <li><img src="images/works-detail2.jpg" alt="Image"></li>
          <li><img src="images/works-detail3.jpg" alt="Image"></li>
        </ul>
        <!-- end ul -->
        <h4>This is a Standard Post</h4>
        <span>Posted <strong class="zero-color">2nd March</strong> by Jason Gordon</span>
         <small>Client / YKB / Tags / Banking, BehaviorPad, Finance, Google Search Appliance</small>
        <p>Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque… </p>
        <a href="news-detail.html" class="btn-zero">READ MORE</a>
        </div>
        <!-- end content-box -->
        </div>
      <!-- end col-8 --> 
       <div class="col-md-8 col-md-offset-2">
        <div class="content-box">
        <div class="news-image">
        <img src="images/works-detail2.jpg" alt="Image">
        </div>
        <!-- end news-image -->
        <h4>This is a Standard Post</h4>
        <span>Posted <strong class="zero-color">2nd March</strong> by Jason Gordon</span>
         <small>Client / YKB / Tags / Banking, BehaviorPad, Finance, Google Search Appliance</small>
        <p>Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque… </p>
        <a href="news-detail.html" class="btn-zero">READ MORE</a>
        </div>
        <!-- end content-box -->
        </div>
      <!-- end col-8 -->
       <div class="col-md-8 col-md-offset-2">
        <div class="content-box">
        <h4>This is a Standard Post</h4>
        <span>Posted <strong class="zero-color">2nd March</strong> by Jason Gordon</span>
         <small>Client / YKB / Tags / Banking, BehaviorPad, Finance, Google Search Appliance</small>
        <p>Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque… </p>
        <a href="news-detail.html" class="btn-zero">READ MORE</a>
        </div>
        <!-- end content-box -->
       
        	<ul class="pagement">
            	<li class="prev"><a href="#">PREV</a></li>
                <li class="next"><a href="#">NEXT</a></li>
            </ul>
      	<!-- end pagement -->
        </div>
      <!-- end col-8 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end section -->
<%- include('layouts/footer') %>