<%- include('layouts/header1') %>
<!-- end header -->
<section class="recent-works section-space">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="main-title">Our porfolio</h2>
        <h3 class="sub-title">The team regularly plays Fifa, enjoys music, interests in photography and offers its clients the best profitable projects for them.</h3>
      </div>
      <!-- end col-8 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container -->
  <ul class="grid swipe-rotate" id="grid">
    <li> <a href="works-detail.html">
      <figure><img src="images/work1.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li><a href="works-detail.html">
      <figure><img src="images/work2.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
          </figcaption>
      </figure></a> 
    </li>
    <!-- end li -->
    <li><a href="works-detail.html">
      <figure><img src="images/work3.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="works-detail.html">
      <figure><img src="images/work4.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="works-detail.html">
      <figure><img src="images/work4.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="works-detail.html">
      <figure><img src="images/work2.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="works-detail.html">
      <figure><img src="images/work1.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li><a href="works-detail.html">
      <figure><img src="images/work2.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
          </figcaption>
      </figure></a> 
    </li>
    <!-- end li -->
    <li><a href="works-detail.html">
      <figure><img src="images/work3.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="works-detail.html">
      <figure><img src="images/work4.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="works-detail.html">
      <figure><img src="images/work4.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
    <li> <a href="works-detail.html">
      <figure><img src="images/work2.jpg" alt="image">
        <figcaption>
          <h3>CREALIVE HOTSITE</h3>
          <p>Branding/HTML</p>
        </figcaption>
      </figure>
      </a> </li>
    <!-- end li -->
  </ul>
  <!-- end ul --> 
</section>
<!-- end section -->

<%- include('layouts/footer') %>