<footer class="wow fadeInUp">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> <img src="images/logor.png" style="width:95px!important" alt="Image" class="logo"> <span class="copyright">COPYRIGHT © <%= new Date().getFullYear();%> RaManju CREATIVE AGENCY<br>
        <b>RaManju <i class="ion-heart"></i></b></span>
        <ul class="social-media">
          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
        </ul>
        <!-- end ul -->
        <form>
          <h3>NEWSLETTER</h3>
          <input type="text" placeholder="Type your e-mail">
          <input type="button" value="JOIN">
        </form>
        <!-- end form --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</footer>
<!-- end footer --> 

<!-- JS Files --> 
<script src="js/jquery.min.js"></script> 
<script type="text/javascript">
$(window).load(function() {
	$(".loader").fadeOut("fast");
})
</script> 
<script src="js/jPushMenu.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/odometer.js"></script> 
<script src="js/wow.js"></script> 
<script src="js/owl.carousel.js"></script> 
<script src="js/jquery.bxslider.min.js"></script> 
<script src="js/jquery.fancybox.js"></script> 
<script src="js/modernizr.custom.js"></script> 
<script src="js/masonry.pkgd.min.js"></script> 
<script src="js/imagesloaded.pkgd.min.js"></script> 
<script src="js/classie.js"></script> 
<script src="js/colorfinder-1.1.js"></script> 
<script src="js/gridScrollFx.js">
  
</script> 
<script src="js/zero.js"></script> 
</body>

</html>